# Created by https://www.gitignore.io/api/erlang
# Edit at https://www.gitignore.io/?templates=erlang

### Erlang ###
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

# End of https://www.gitignore.io/api/erlang
